{% extends 'layout.html.twig' %}{# heredando  de una plantilla base #}

{% block body %}
    {{ parent() }} {# para obtener/heredar el body de su 'padre' y se inserte aqui #}
    <div class="container">
        <div class="col-md-12">
            <div class="page-header margin-none">
                <h2 class="padding-none">Users</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Actions</th>
                        </tr>                        
                    </thead>
                    <tbody>
                    {% for u in users %} {# en el UserController.php se creó la variable $users y se envió a esta plantilla #}
                        <tr>
                            <td>{{ u.username }}</td>
                            <td>{{ u.firstName }}</td>
                            <td>{{ u.lastName }}</td>
                            <td>{{ u.email }}</td>
                            <td>
                                {% if (u.role == 'ROLE_ADMIN')  %}
                                    <b>Administrator</d>
                                {% elseif ( u.role == 'ROLE_USER') %}
                                    <b>User</b>
                                {% endif%}
                            </td>
                            <td>{{ u.createdAt|date('d-m-Y H:i') }}</td>{# si no se formatea la fecha da ERROR #}
                            <td>{{ u.updatedAt|date('d-m-Y H:i') }}</td>
                            <td class="actions">
                                <a href="#" class="btn btn-sm btn-info">View</a>
                                <a href="#" class="btn btn-sm btn-primary">Edit</a>
                                <a href="#" class="btn btn-danger btn-delete">Delete</a>
                            </td>            
                        </tr>
                    {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>

{% endblock body %}